.signup {
  width: 30vw;
  display: flex;
  flex-direction: column;

  &-title,
  &-subtitle {
    font-family: 'Open Sans Condensed';
  }

  &-title {
    margin-bottom: 0;
  }

  &-subtitle {
    font-size: 20px;
  }
}