@import '../../assets/variables';

.button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  color: $white;
  background: $dark;

  &:hover,
  &:active,
  &:focus {
    background-color: $white;
    color: $dark;
    border: 1px solid $dark;
  }

  &.google-button {
    background: #4285f4;
    color: $white;

    &:hover,
    &:active,
    &:focus {
      background: darken(#4285f4, 2);
      border: none;
    }
  }
}